.right-pad768ak {
  padding-right: 15px;
  padding-left: 0;
}

.left-pad768ak {
  padding-left: 15px;
  padding-right: 0;
}

.right-pad768adjak {
  padding-right: 7.5px;
}

.left-pad768adjak {
  padding-left: 7.5px;
}

.rightleft-padadjak {
  padding-left: 3.75px;
  padding-right: 3.75px;
}

.sponsor768ak {
  max-width: 332px;
  margin-left: auto;
  margin-right: auto;
}

.eachak768 {
  padding-top: 0;
}
